.PresentationName {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 97px;
  font-weight: bolder;
  height: 100px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 10s linear infinite;
   animation-timing-function: ease;
}

.ContainerPresentation p {
  display: flex;
  flex-wrap: wrap;
  margin: 0
}

@keyframes rainbow {
  0% {
    background-image: linear-gradient(to right, red, orange);
  }
  20% {
    background-image: linear-gradient(to right, orange, yellow);
  }
  40% {
    background-image: linear-gradient(to right, yellow, green);
  }
  60% {
    background-image: linear-gradient(to right, green, blue);
  }
  80% {
    background-image: linear-gradient(to right, blue, violet);
  }
  100% {
    background-image: linear-gradient(to right, red, violet);
  }
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.firstHr {
  margin: 80px 0;
}

.secondHr{
  opacity: 0;
  margin: 80px 0;
}

.ButtonDiv {
  gap: 8%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.downloadCV {
  display: flex;
  gap: 14%;
  padding: 2%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

/* Definición de la animación */
@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.selected {
  animation: slideIn 0.5s ease;
  animation: slideOut 0.5s ease;
  animation-delay: slideOut 0.3s;
}

.downloadText {
  font-size: 1rem;
}

.ContainerSkills {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  display: flex;
  height: 100%;
  min-width: 1200px
}

.GridSkills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1200px;
  height: 100%;
}

.skillsContainer{
  width: 140px;
  padding: 0;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.skillsContainer:hover {
  transform: scale(1.2);
  animation: skillZoom 0.5s ease forwards;
}

.GridSkills div {
  /* margin-top: 1rem; */
}

.GridSkills p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.TextSkills {
  font-size: 3rem;
  font-weight: bolder;
  margin: 4%;
  margin-bottom: 80px;
}

.infoProy {
  display: flex;
  justify-content: space-between;
}

.boxPort1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.boxPort1 hr {
  width: 99%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
}

.list p {
  color: white;
}


.infoProy > .boxPort1 > .list {
  display: flex;
  margin-top: 10%;
}

.infoProy > .boxPort1 > .list > p {
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: rgb(72, 72, 72);
}

.infoProy > .boxPort1 > .list > a {
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: rgb(72, 72, 72);
  cursor: pointer;
}

.infoProy > .boxPort1 > .list > a:hover {
  color: #e94112;
  transition: color 0.3s ease-in-out;
  line-height: 1.5;
}

.infoProy > .boxPort1 > .list p {
  margin: 0 1rem;
}

.boxPort2 {
  width: 70%;
  height: auto;
}

.boxPort2 hr {
  width: 90%;
  margin-bottom: 10%;
}

.boxport1 *,
.boxport2 * {
  width: auto;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  width: 50px;
  height: 50px;
}

.softLogo {
  display: flex;
  width: 35.75px;
  height: 35.75px;
}

.infoProy > .boxPort2 > .ul1 > .list,
.infoProy > .boxPort2 > .ul2 > .list {
  display: flex;
  flex-direction: column;
  height: 465px;
  width: 300px;
  margin: 0px 50px;
  border-radius: 8px;
  background-color: #1f1f1f;
  transition: transform 0.3s ease;
}

.infoProy > .boxPort2 > .ul1 > .list:hover,
.infoProy > .boxPort2 > .ul2 > .list:hover {
  transform: scale(1.05);
}

.infoProy > .boxPort2 > .ul1 > .list > p,
.infoProy > .boxPort2 > .ul2 > .list > p {
  margin: 10px 20px;
  text-align: justify;
}

.iconList {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin: 5px 18px;
}

.ul1,
.ul2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.infoProy > .boxPort2 > .ul1 > .list > .contPreview,
.infoProy > .boxPort2 > .ul2 > .list > .contPreview {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  background: rgb(70, 69, 69);
}

.infoProy > .boxPort2 > .ul1 > .list > .contPreview > .preview,
.infoProy > .boxPort2 > .ul2 > .list > .contPreview > .preview {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 92%;
  height: 100%;
}

.infoProy > .boxPort2 > .ul1 > .list > .contPreview > .preview > .image,
.infoProy > .boxPort2 > .ul2 > .list > .contPreview > .preview > .image{
  width: 104%;
  height: 100%auto;
  border-radius: 8px;
}


.infoProy > .boxPort2 > .ul2 > .list > .contPreview > .preview > .image2 {
  height: 100%;
  width: 33%;
  border-radius: 8px;
}

.description {
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
  .infoProy{
    flex-direction: column;
    align-items: center;
  }
  .boxPort2{
    margin-top: 10%;
    width: 95%;
  }
  .boxPort1{
    margin-top: 15%;
    width: 40%;
  }
  .ContainerSkills {
  min-width: 768px;
  }

  .GridSkills{
    width: 570px;
  }

  .skillsContainer{
    width: 106px;
  }

}

@media only screen and (max-width: 768px) {
  .ul1,
  .ul2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoProy > .boxPort2 > .ul1 > .list,
  .infoProy > .boxPort2 > .ul2 > .list {
    margin-bottom: 10%;
  }

  .downloadCV {
    width: 45%;
    height: 5rem;
    margin: 5% 0;
  }

  .ButtonDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxPort1{
    width: 75%;
  }

  .ContainerPresentation p {
    margin: 0 20%
  }

  .GridSkills{
    width: 318px;
  }

  .ContainerSkills{
    min-width: 318px
  }

}