/* @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    z-index: -1;
  
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  
  body {
    background-color: #071c39;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  * {
    transition: all 0.5s ease-out;
  } */

// Variables
//$secondary-color $primary-color
$primary-color: rgba(255, 255, 255, 0.87);
$secondary-color: rgb(119, 119, 119) 0%;
$background-color: #071c39;
$font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-size-large: 97px;
$border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
$marginHr: 80px 0;

// Mixins
@mixin flexCenter($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

// Styles
body {
  font-family: $font-family;
  margin: 0;
  height: 1120px;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --gradient-radius: 3000px;
  background: radial-gradient(
    circle var(--gradient-radius) at var(--mouse-x) var(--mouse-y),
    $secondary-color 0%,
    $primary-color 100%
  );
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s ease;

}

.ContainerPresentation {
  p {
    @include flexCenter(null, center, center);
    flex-wrap: wrap;
    margin: 0;
    z-index: 0;
    padding: 0;
  }

  .PresentationName {
    @include flexCenter(row, center, center);
    font-size: $font-size-large;
    font-weight: bolder;
    height: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 10s linear infinite;
    animation-timing-function: ease;
  }

  .ButtonDiv {
    @include flexCenter(null, center, null);
    gap: 8%;
    margin-top: 70px;

    .downloadCV {
      @include flexCenter(null, center, center);
      gap: 14%;
      padding: 2%;
      width: 20%;

      .selected {
        animation: slideIn 0.5s ease;
        animation: slideOut 0.5s ease;
        animation-delay: slideOut 0.3s;
      }

      .downloadText {
        font-size: 1rem;
      }
    }
  }
}

.firstHr {
  margin: $marginHr;
}

.secondHr {
  opacity: 0;
  margin: $marginHr;
}

// ----------------------------------- Animaciones ------------------------------------//

@keyframes rainbow {
  0% {
    background-image: linear-gradient(to right, red, orange);
  }
  20% {
    background-image: linear-gradient(to right, orange, yellow);
  }
  40% {
    background-image: linear-gradient(to right, yellow, green);
  }
  60% {
    background-image: linear-gradient(to right, green, blue);
  }
  80% {
    background-image: linear-gradient(to right, blue, violet);
  }
  100% {
    background-image: linear-gradient(to right, red, violet);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// ------------------------------------------------------------------------------------- //

.ContainerSkills {
  @include flexCenter(column, center, center);
  margin: 0;
  height: 100%;
  min-width: 1200px;

  .TextSkills {
    font-size: 3rem;
    font-weight: bolder;
    margin: 90px;
    margin-bottom: 80px;
  }

  .GridSkills {
    @include flexCenter(row, center, center);
    flex-wrap: wrap;
    max-width: 100%;
    width: 1200px;
    height: 100%;

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }

    .skillsContainer {
      width: 140px;
      padding: 0;
      border-radius: 8px;
      transform: scale(1);
      transition: transform 0.5s ease;

    }

    .skillsContainer:hover {
      transform: scale(1.2);
      animation: skillZoom 0.5s ease forwards;
    }
  }
}

/*.GridSkills div {
    margin-top: 1rem;
  } */

.infoProy {
  @include flexCenter(row, space-between, null);

  .boxPort2 {
    width: 70%;
    height: auto;

    hr {
      width: 90%;
      margin-bottom: 10%;
    }

    .ul1,
    .ul2 {
      @include flexCenter(row, space-between, null);
      margin-bottom: 10%;

      .list {
        @include flexCenter(column, null, null);
        height: 465px;
        width: 300px;
        margin: 0px 50px;
        border-radius: 8px;
        background-color: #1f1f1f;
        transition: transform 0.3s ease;

        p {
          color: white;
          margin: 10px 20px;
          text-align: justify;
        }

        .contPreview {
          @include flexCenter(null, center, center);
          border-radius: 10px;
          margin: 10px;
          height: 190px;
          background: rgb(70, 69, 69);

          .preview {
            @include flexCenter(null, center, null);
            border-radius: 10px;
            margin: 10px;
            width: 92%;
            height: 100%;

            .image {
              width: 104%;
              height: 100%auto;
              border-radius: 8px;
            }

            .image2 {
              height: 100%;
              width: 33%;
              border-radius: 8px;
            }
          }
        }
      }

      .list:hover,
      .list:hover {
        transform: scale(1.05);
      }
    }
  }

  .title {
    @include flexCenter(row, center, null);
    font-size: 3rem;
    font-weight: bolder;
  }

  .boxPort1 {
    @include flexCenter(column, flex-start, left);
    width: 30%;

    .list {
      display: flex;
      margin-top: 10%;

      p {
        margin-left: 1rem;
        font-family: "Roboto", sans-serif;
        color: rgb(72, 72, 72);
        margin: 0 1rem;
      }

      a {
        margin-left: 1rem;
        font-family: "Roboto", sans-serif;
        color: rgb(72, 72, 72);
        cursor: pointer;
      }

      a:hover {
        color: #e94112;
        transition: color 0.3s ease-in-out;
        line-height: 1.5;
      }
    }
  }

  hr {
    width: 99%;
    margin-bottom: 12%;
  }

  .iconList {
    @include flexCenter(row, left, null);
    gap: 15px;
    margin: 5px 18px;
  }
}

.Logo {
  @include flexCenter(row, center, center);
}

.logos {
  display: flex;
  width: 50px;
  height: 50px;
}

//----------------------------------- Media Queries -----------------------------------//

@media only screen and (max-width: 1200px) {
  .infoProy {
    flex-direction: column;
    align-items: center;
  }
  .boxPort2 {
    margin-top: 10%;
    width: 95%;
  }
  .boxPort1 {
    margin-top: 15%;
    width: 40%;
  }
  .ContainerSkills {
    min-width: 768px;
  }

  .GridSkills {
    width: 570px;
  }

  .skillsContainer {
    width: 106px;
  }
}

@media only screen and (max-width: 768px) {
  .ul1,
  .ul2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoProy > .boxPort2 > .ul1 > .list,
  .infoProy > .boxPort2 > .ul2 > .list {
    margin-bottom: 10%;
  }

  .downloadCV {
    width: 45%;
    height: 5rem;
    margin: 5% 0;
  }

  .ButtonDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxPort1 {
    width: 75%;
  }

  .ContainerPresentation p {
    margin: 0 20%;
  }

  .GridSkills {
    width: 318px;
  }

  .ContainerSkills {
    min-width: 318px;
  }

  body {
    height: 914px ;
  }
}
