$primary-color: rgba(255, 255, 255, 0.87);
$secondary-color: rgb(119, 119, 119) 0%;
$background-color: #071c39;
$font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-size-large: 97px;
$border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
$marginHr: 80px 0;

// Mixins
@mixin flexCenter($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

// Styles
body {
  font-family: $font-family;
  margin: 0;
  height: 1140px;
  width: 100vw;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --gradient-radius: 3000px;
  background: radial-gradient(
    circle var(--gradient-radius) at var(--mouse-x) var(--mouse-y),
    $secondary-color 0%,
    $primary-color 100%
  );
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.5s ease;
}

.gradient {
  width: 100vw;
  height: auto;

  .section1 {
    @include flexCenter(column, null, center);
    margin-top: 70px;
    margin-bottom: 150px;
    width: 100vw;

    .ContainerPresentation {
      p {
        @include flexCenter(null, center, center);
        flex-wrap: wrap;
        margin: 0;
        z-index: 0;
        padding: 0;
      }

      .PresentationName {
        @include flexCenter(null, center, center);
        font-size: $font-size-large;
        font-weight: bolder;
        height: 100px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: rainbow 10s linear infinite;
        animation-timing-function: ease;
      }

      .ButtonDiv {
        @include flexCenter(null, center, null);
        gap: 8%;
        margin-top: 70px;

        .downloadCV {
          @include flexCenter(null, center, center);
          gap: 14%;
          padding: 2%;
          width: 220px;
          height: 80px;

          .selected {
            animation: slideIn 0.5s ease;
            animation: slideOut 0.5s ease;
            animation-delay: slideOut 0.3s;
          }

          .downloadText {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.firstHr {
  margin: $marginHr;
}

// ----------------------------------- Animaciones ------------------------------------//

@keyframes rainbow {
  0% {
    background-image: linear-gradient(to right, red, orange);
  }
  20% {
    background-image: linear-gradient(to right, orange, yellow);
  }
  40% {
    background-image: linear-gradient(to right, yellow, green);
  }
  60% {
    background-image: linear-gradient(to right, green, blue);
  }
  80% {
    background-image: linear-gradient(to right, blue, violet);
  }
  100% {
    background-image: linear-gradient(to right, red, violet);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// ------------------------------------------------------------------------------------- //

.ContainerSkills {
  @include flexCenter(column, center, center);
  margin-top: 115px;
  height: auto;
  width: 100%;

  .TextSkills {
    font-size: 3rem;
    font-weight: bolder;
    margin: 50px 0;
  }

  .GridSkills {
    @include flexCenter(null, center, center);
    flex-wrap: wrap;
    max-width: 1123px;
    width: 70%;
    height: 100%;

    .reveal-container {
      @extend .GridSkills;
      width: 100%;
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 0.5s ease, transform 0.5s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
      }

      .skillsContainer {
        width: 140px;
        padding: 0;
        border-radius: 8px;
        transform: scale(1);
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.2);
          animation: skillZoom 0.5s ease forwards;
        }
      }
    }
  }
}

/*.GridSkills div {
    margin-top: 1rem;
  } */

.section2 {
  @include flexCenter(column, null, center);
  flex: 1;
  width: 100vw;

  .infoProy {
    @include flexCenter(null, center, flex-start);
    width: 100vw;
    hr {
      width: 90%;
      margin-bottom: 75px;
    }

    .boxPort2 {
      @include flexCenter(column, null, center);
      width: 70%;
      height: auto;

      .ul1,
      .ul2 {
        @include flexCenter(null, space-evenly, null);
        margin-bottom: 80px;
        width: 95%;

        .list {
          @include flexCenter(column, null, null);
          height: 465px;
          width: 300px;
          margin: 0px 50px;
          border-radius: 8px;
          background-color: #1f1f1f;
          transition: transform 0.3s ease;

          p {
            color: white;
            margin: 10px 20px;
            text-align: justify;
          }

          .contPreview {
            @include flexCenter(null, center, center);
            border-radius: 10px;
            margin: 10px;
            height: 190px;
            background: rgb(70, 69, 69);

            .preview {
              @include flexCenter(null, center, null);
              border-radius: 10px;
              margin: 10px;
              width: 92%;
              height: 100%;

              .image {
                width: 104%;
                height: auto;
                border-radius: 8px;
              }

              .image2 {
                height: 100%;
                width: 33%;
                border-radius: 8px;
              }
            }
          }
        }

        .list:hover,
        .list:hover {
          transform: scale(1.05);
        }
      }
    }

    .title {
      @include flexCenter(null, center, null);
      font-size: 3rem;
      font-weight: bolder;
    }

    .boxPort1 {
      @include flexCenter(column, flex-start, null);

      a {
        padding: 0;
        margin: 0;
      }

      .list {
        display: flex;
        margin-bottom: 40px;

        p {
          margin-left: 1rem;
          font-family: "Roboto", sans-serif;
          color: rgb(72, 72, 72);
          margin: 0 1rem;
        }

        a {
          margin-left: 1rem;
          font-family: "Roboto", sans-serif;
          color: rgb(72, 72, 72);
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #e94112;
            transition: color 0.3s ease-in-out;
            line-height: 1.5;
          }
        }
      }
    }

    .iconList {
      @include flexCenter(null, left, null);
      gap: 15px;
      margin: 5px 18px;
    }
  }
}

.Logo {
  @include flexCenter(row, center, center);
}

.logos {
  display: flex;
  width: 50px;
  height: 50px;
}

//----------------------------------- Media Queries -----------------------------------//

@media only screen and (max-width: 1399px) {
  body {
    height: 1200px;
  }

  .gradient {
    .section1 {
      margin-bottom: 210px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .section2 {
    .infoProy {
      flex-direction: column;
      align-items: center;
      .boxPort2 {
        width: 100%;
      }
      .boxPort1 {
        width: 100%;
        .list {
          margin-left: 100px;
        }
      }
    }
  }
  /* .ContainerSkills {
    min-width: 768px;
  } */

  .GridSkills {
    width: 570px;
  }

  .skillsContainer {
    width: 106px;
  }
}

@media only screen and (max-width: 999px) {
  body {
    height: 1350px;
  }
}

@media only screen and (max-width: 799px) {
  body {
    height: 1500px;
  }

  .gradient {
    .section1 {
      margin-bottom: 90px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .gradient {
    .section1 {
      margin-bottom: 80px;
      .ContainerPresentation {
        .PresentationName {
          width: auto;
          font-size: 55px;
          height: 60px;
        }
      }
    }
  }
  .section2 {
    width: 100vw;
  }
  .ul1,
  .ul2 {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .infoProy > .boxPort2 > .ul1 > .list,
  .infoProy > .boxPort2 > .ul2 > .list {
    margin-bottom: 25px;
  }

  .downloadCV {
    width: 45%;
    height: 5rem;
    margin: 5% 0;
  }

  .ButtonDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxPort1 {
    width: 75%;
  }

  .ContainerPresentation p {
    margin: 0 50px;
  }

  .GridSkills {
    width: 318px;
  }

  /* .ContainerSkills {
    min-width: 318px;
  } */

  body {
    height: 630px;
  }
}
