#root {
  max-width: 1280px;
  margin: 5% auto;
  text-align: center;
}

@media only screen and (max-width: 768px ) {
  #root {
    margin: 20% auto;
  }
}

html body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgb(222, 222, 222);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

button:hover {
  background-color: rgb(126, 126, 126);
  color: #1a1a1a;
}
